/*resert box sizing and margin for all elements*/
*{
    box-sizing: border-box;
    margin: 0;
}
/* Main calculator container styling */
.calculator{
    background: linear-gradient(135deg, #f9f295 0%,#f7d765 20%,
  #f2c94c 40%, #f7d765 60%, #f9f295 80%, #ffffff 100%);
    padding: 20px;
    max-width: 400px;
    margin: 0px auto;
    border: solid 2px rgba(145, 147, 20, 0.719);
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 40px;
} 
/* Calculator display styling */
#result{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2) inset;
    border-radius: 5px;
    background-color: lightgray;
}
/* Button grid layout */
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}
/* General button styling */
button{
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* Button hover effect */
button:hover{
    background-color: #f2c94c;
}
/* Clear button styling */
.clear{
    background-color: #ff4136;
    color: #fff;
}
/* Number and decimal button styling */
.number, .decimal{
    background-color: lightgray;
    color: #111;
}
/* Operator button styling */
.operator{
    background-color: #18c5f4;
    color: #fff;
}
/* Equals button styling */
.equals{
    background-color: #2ecc40;
    color: #fff;
    grid-row: span 3;
}